@charset "utf-8";
/* CSS Document */

#middleWrapper {
	
height:auto;
min-height:80%;
width:100%;	
margin:0 auto;
display: flex;
align-items:start;
flex-wrap:wrap;
background:#D2E3E5;
-webkit-transition: all .2s linear 0s;
transition: all .2s linear 0s;
overflow-y:auto; 
overflow-x:hidden;

}

#fixedBox {

height:15vw;
width:15vw;
background:#BDCCCE;
border-radius:8px;
/*display:flex;
flex-direction: column;
justify-content:space-between;*/
margin-top:3%;
-webkit-transition: all .2s linear 0s;
transition: all .2s linear 0s;
position:relative;
cursor:pointer;
margin-left:7vw;
	
}

#icon {

width:100%;
height:100%;
background:url(../img/iconAdd.svg) center / contain no-repeat;
background-size: 120px 120px;

}

.addedPlant {

height:15vw;
width:15vw;
background:#F0FEFF;
border-radius:8px;
/*display:flex;
flex-direction: column;
justify-content:space-between;*/
margin-top:3%;
box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
display:flex;
flex-direction: column;
justify-content:space-between;
margin-top:3%;
-webkit-transition: all .2s linear 0s;
transition: all .2s linear 0s;
margin-left:7vw;
margin-bottom:4%;
cursor:pointer;

}

.plantImg {
width:100%;
height:100%;
background:url(../img/iconPlant.svg) center / contain no-repeat;
background-size: 160px 160px;
}

.arduinoHeading {
  margin-left:5%;
  font-size:1rem;
  color:#97AFAD;
  -webkit-transition: all .2s linear 0s;
  transition: all .2s linear 0s;
  margin-bottom:3%; 
  opacity:0.6;
}

.arduinoID {
  margin-left:2%;
}

.heading {

margin-left:5%;
font-size:2rem;
color:#97AFAD;
-webkit-transition: all .2s linear 0s;
transition: all .2s linear 0s;

}

#middleWrapper.-darkmode {
	
height:auto;
min-height:80%;
width:100%;	
margin:0 auto;
display: flex;
align-items:start;
flex-wrap:wrap;
background:#1A2A30;
-webkit-transition: all .2s linear 0s;
transition: all .2s linear 0s;
	
}

#nameWrapper.-darkmode {

height:10%;
min-height:80px;
width:100%;
margin:0 auto;
background:#162428;
display:flex;
align-items: center;
justify-content:start;
-webkit-transition: all .2s linear 0s;
transition: all .2s linear 0s;

}

.colorChange.-darkmode {
	
float:right;
border:none;
outline:none;
margin:auto;
height:100%;
width:100px;
background:url(../img/icon2.svg) center / contain no-repeat;
background-size: 60px 60px;
cursor:pointer;
-webkit-transition: all .2s linear 0s;
transition: all .2s linear 0s;

}

.addBtn {

    height: 2.5em;
    width: 6em;
    background:#487287;
    border-radius: 4px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    -webkit-transition: all .2s linear 0s;
    transition: all .2s linear 0s;
    text-align: center;
    line-height: 2.5em;
    color:#FFF;
    cursor: pointer;
    margin-left: 0.3vw;
    outline:none;
    border:none;

}

.logoutBtn {

float: right;
border: none;
outline: none;
height: 100%;
min-height: 80px;
width: 100px;
background: url(../img/iconLogout.svg) center / contain no-repeat;
background-size: 60px 60px;
cursor: pointer;

}

.logoutBtn:hover {

float: right;
border: none;
outline: none;
height: 100%;
min-height: 80px;
width: 100px;
background: url(../img/iconLogoutHover.svg) center / contain no-repeat;
background-size: 60px 60px;
cursor: pointer;

}

.logoutBtn:active {

float: right;
border: none;
outline: none;
height: 100%;
min-height: 80px;
width: 100px;
background: url(../img/iconLogoutClick.svg) center / contain no-repeat;
background-size: 60px 60px;
cursor: pointer;

}

@media (max-width: 590px) {


#middleWrapper {

/*background:red;*/
flex-direction:column;
align-items:center;

}

.addedPlant {

height:45vw;
width:45vw;
background:#F0FEFF;
border-radius:8px;
/*display:flex;
flex-direction: column;
justify-content:space-between;*/
margin-top:3%;
box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
display:flex;
flex-direction: column;
justify-content:space-between;
margin-top:3%;
-webkit-transition: all .2s linear 0s;
transition: all .2s linear 0s;
margin-left:7vw;
margin-bottom:4%;
cursor:pointer;

}

.plantImg {
width:100%;
height:100%;
background:url(../img/iconPlant.svg) center / contain no-repeat;
background-size: 120px 120px;
}

.arduinoHeading {
  margin-left:5%;
  font-size:1rem;
  color:#97AFAD;
  -webkit-transition: all .2s linear 0s;
  transition: all .2s linear 0s;
  margin-bottom:3%; 
  opacity:0.6;
}

.arduinoID {
  margin-left:2%;
}

.heading {

margin-left:5%;
font-size:2rem;
color:#97AFAD;
-webkit-transition: all .2s linear 0s;
transition: all .2s linear 0s;

}

}

@media (min-width: 590px) {

#middleWrapper{

/*background:grey;*/

}

.addedPlant {

height:23vw;
width:23vw;
background:#F0FEFF;
border-radius:8px;
/*display:flex;
flex-direction: column;
justify-content:space-between;*/
margin-top:3%;
box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
display:flex;
flex-direction: column;
justify-content:space-between;
margin-top:3%;
-webkit-transition: all .2s linear 0s;
transition: all .2s linear 0s;
margin-left:7vw;
margin-bottom:4%;
cursor:pointer;

}

.plantImg {
width:100%;
height:100%;
background:url(../img/iconPlant.svg) center / contain no-repeat;
background-size: 75px 75px;
}

.arduinoHeading {
  margin-left:5%;
  font-size:1rem;
  color:#97AFAD;
  -webkit-transition: all .2s linear 0s;
  transition: all .2s linear 0s;
  margin-bottom:3%; 
  opacity:0.6;
}

.arduinoID {
  margin-left:2%;
}

.heading {

margin-left:5%;
font-size:2rem;
color:#97AFAD;
-webkit-transition: all .2s linear 0s;
transition: all .2s linear 0s;

}

}


@media (min-width: 768px) {


#middleWrapper {

/*background:green;*/

}

.addedPlant {

height:19vw;
width:19vw;
background:#F0FEFF;
border-radius:8px;
/*display:flex;
flex-direction: column;
justify-content:space-between;*/
margin-top:3%;
box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
display:flex;
flex-direction: column;
justify-content:space-between;
margin-top:3%;
-webkit-transition: all .2s linear 0s;
transition: all .2s linear 0s;
margin-left:7vw;
margin-bottom:4%;
cursor:pointer;

}

.plantImg {
width:100%;
height:100%;
background:url(../img/iconPlant.svg) center / contain no-repeat;
background-size: 85px 85px;
}

.arduinoHeading {
  margin-left:5%;
  font-size:1rem;
  color:#97AFAD;
  -webkit-transition: all .2s linear 0s;
  transition: all .2s linear 0s;
  margin-bottom:3%; 
  opacity:0.6;
}

.arduinoID {
  margin-left:2%;
}

.heading {

margin-left:5%;
font-size:2rem;
color:#97AFAD;
-webkit-transition: all .2s linear 0s;
transition: all .2s linear 0s;

}


}

@media (min-width: 992px) {

#middleWrapper {

/*background:yellow;*/

}

.addedPlant {

height:19vw;
width:19vw;
background:#F0FEFF;
border-radius:8px;
/*display:flex;
flex-direction: column;
justify-content:space-between;*/
margin-top:3%;
box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
display:flex;
flex-direction: column;
justify-content:space-between;
margin-top:3%;
-webkit-transition: all .2s linear 0s;
transition: all .2s linear 0s;
margin-left:7vw;
margin-bottom:4%;
cursor:pointer;

}

.plantImg {
width:100%;
height:100%;
background:url(../img/iconPlant.svg) center / contain no-repeat;
background-size: 90px 90px;
}

.arduinoHeading {
  margin-left:5%;
  font-size:1rem;
  color:#97AFAD;
  -webkit-transition: all .2s linear 0s;
  transition: all .2s linear 0s;
  margin-bottom:3%; 
  opacity:0.6;
}

.arduinoID {
  margin-left:2%;
}

.heading {

margin-left:5%;
font-size:2rem;
color:#97AFAD;
-webkit-transition: all .2s linear 0s;
transition: all .2s linear 0s;

}


}

@media (min-width: 1200px) {

#middleWrapper{

/*background:blue;*/

}

.addedPlant {

height:15vw;
width:15vw;
background:#F0FEFF;
border-radius:8px;
/*display:flex;
flex-direction: column;
justify-content:space-between;*/
margin-top:3%;
box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
display:flex;
flex-direction: column;
justify-content:space-between;
margin-top:3%;
-webkit-transition: all .2s linear 0s;
transition: all .2s linear 0s;
margin-left:7vw;
margin-bottom:4%;
cursor:pointer;

}

.plantImg {
width:100%;
height:100%;
background:url(../img/iconPlant.svg) center / contain no-repeat;
background-size: 100px 100px;
}

.arduinoHeading {
  margin-left:5%;
  font-size:1rem;
  color:#97AFAD;
  -webkit-transition: all .2s linear 0s;
  transition: all .2s linear 0s;
  margin-bottom:3%; 
  opacity:0.6;
}

.arduinoID {
  margin-left:2%;
}

.heading {

margin-left:5%;
font-size:2rem;
color:#97AFAD;
-webkit-transition: all .2s linear 0s;
transition: all .2s linear 0s;

}

}


@media (min-width: 1400px) {


#middleWrapper{

/*background:black;*/

}

.addedPlant {

height:15vw;
width:15vw;
background:#F0FEFF;
border-radius:8px;
/*display:flex;
flex-direction: column;
justify-content:space-between;*/
margin-top:3%;
box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
display:flex;
flex-direction: column;
justify-content:space-between;
margin-top:3%;
-webkit-transition: all .2s linear 0s;
transition: all .2s linear 0s;
margin-left:7vw;
margin-bottom:4%;
cursor:pointer;

}

.plantImg {
width:100%;
height:100%;
background:url(../img/iconPlant.svg) center / contain no-repeat;
background-size: 120px 120px;
}

.arduinoHeading {
  margin-left:5%;
  font-size:1rem;
  color:#97AFAD;
  -webkit-transition: all .2s linear 0s;
  transition: all .2s linear 0s;
  margin-bottom:3%; 
  opacity:0.6;
}

.arduinoID {
  margin-left:2%;
}

.heading {

margin-left:5%;
font-size:2rem;
color:#97AFAD;
-webkit-transition: all .2s linear 0s;
transition: all .2s linear 0s;

}


}
