@charset "utf-8";
/* CSS Document */

#middleWrapper {
	
height:auto;
min-height:80%;
width:100%;	
margin:0 auto;
display: flex;
align-items:start;
flex-wrap:wrap;
background:#D2E3E5;
-webkit-transition: all .2s linear 0s;
transition: all .2s linear 0s;
overflow-y:auto; 
overflow-x:hidden;

}

#middleWrapper.-darkmode {
	
height:auto;
min-height:80%;
width:100%;	
margin:0 auto;
display: flex;
align-items:start;
flex-wrap:wrap;
background:#1A2A30;
-webkit-transition: all .2s linear 0s;
transition: all .2s linear 0s;
	
}

.colorChange.-darkmode {
	
float:right;
border:none;
outline:none;
margin:auto;
height:100%;
width:100px;
background:url(../img/icon2.svg) center / contain no-repeat;
background-size: 60px 60px;
cursor:pointer;
-webkit-transition: all .2s linear 0s;
transition: all .2s linear 0s;

}

#nameWrapper.-darkmode {

height:10%;
min-height:80px;
width:100%;
margin:0 auto;
background:#162428;
display:flex;
align-items: center;
justify-content:start;
-webkit-transition: all .2s linear 0s;
transition: all .2s linear 0s;

}

.loginBtn {

    height: 2.5em;
    width: 6em;
    background: #F0FEFF;
    border-radius: 4px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    -webkit-transition: all .2s linear 0s;
    transition: all .2s linear 0s;
    text-align: center;
    line-height: 2.5em;
    color: #97AFAD;
    cursor: pointer;
    margin-left: 0.3vw;
    outline:none;
    border:none;

}

#login {
    height: 22em;
    width: 31em;
    /*background:red;*/
    background: #F0FEFF;
    border-radius: 8px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    margin-top: 1%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding-top: 1%;
    margin: auto;
    align-self: center;
}

.btnBkg {
    background: #223139;
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.label {
    background-color:#F5FEFF;
    border:2px solid #D5E0E0;
    border-radius:0.5em;
    width:25em;
    height:2.5em;
    font-size:15px;
    text-indent:10px;
    -webkit-transition: border .35s ease-in-out;
    transition: border .35s ease-in-out;
}

.label:focus {

border:2px solid #27ae60;

}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    text-indent:10px;
    font-size:13px;
    color:#BBC7C8;
  }
  ::-moz-placeholder { /* Firefox 19+ */
    text-indent:10px;
    font-size:13px;
    color:#BBC7C8;
  }
  :-ms-input-placeholder { /* IE 10+ */
    text-indent:10px;
    font-size:13px;
    color:#BBC7C8;
  }
  :-moz-placeholder { /* Firefox 18- */
    text-indent:10px;
    font-size:13px;
    color:#BBC7C8;
  }

.label:focus::-webkit-input-placeholder { color:transparent; }
.label:focus:-moz-placeholder { color:transparent; }

.label:focus{
  outline: none;
}


.formHeading {
    color: #BBC7C8;
    font-size: 30px;
}

