@charset "utf-8";
/* CSS Document */

#middleWrapper {
	
height:auto;
min-height:80%;
width:100%;	
margin:0 auto;
display: flex;
align-items:start;
flex-wrap:wrap;
background:#D2E3E5;
-webkit-transition: all .2s linear 0s;
transition: all .2s linear 0s;
overflow-y:auto; 
overflow-x:hidden;

}

#middleWrapper.-darkmode {
	
height:auto;
min-height:80%;
width:100%;	
margin:0 auto;
display: flex;
align-items:start;
flex-wrap:wrap;
background:#1A2A30;
-webkit-transition: all .2s linear 0s;
transition: all .2s linear 0s;
	
}

#nameWrapper.-darkmode {

height:10%;
min-height:80px;
width:100%;
margin:0 auto;
background:#162428;
display:flex;
align-items: center;
justify-content:start;
-webkit-transition: all .2s linear 0s;
transition: all .2s linear 0s;

}

.colorChange.-darkmode {
	
float:right;
border:none;
outline:none;
margin:auto;
height:100%;
width:100px;
background:url(../img/icon2.svg) center / contain no-repeat;
background-size: 60px 60px;
cursor:pointer;
-webkit-transition: all .2s linear 0s;
transition: all .2s linear 0s;

}

#register {

    height: 25vw;
    width: 27vw;
    /*background:red;*/
    background: #F0FEFF;
    border-radius: 8px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    margin-top: 1%;
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:space-between;
    padding-top:1%;
    margin: auto;
    align-self:center;
}



.btnBkg {

    background:#223139;
    height:90px;
    width:100%;
    display:flex;
    justify-content:center;
    align-items:center;

}

.label {
    background-color:#F5FEFF;
    border:2px solid #D5E0E0;
    border-radius:0.5em;
    width:20vw;
    height:2vw;
    font-size:15px;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    padding-left:2%;
    font-size:13px;
    color:#BBC7C8;
  }
  ::-moz-placeholder { /* Firefox 19+ */
    padding-left:2%;
    font-size:13px;
    color:#BBC7C8;
  }
  :-ms-input-placeholder { /* IE 10+ */
    padding-left:2%;
    font-size:13px;
    color:#BBC7C8;
  }
  :-moz-placeholder { /* Firefox 18- */
    padding-left:2%;
    font-size:13px;
    color:#BBC7C8;
  }

.label:focus::-webkit-input-placeholder { color:transparent; }
.label:focus:-moz-placeholder { color:transparent; }

.label:focus{
  outline: none;
}


.formHeading {
    color: #BBC7C8;
    font-size: 30px;
}


.registerBtn {

    height: 2.5em;
    width: 6em;
    background: #F0FEFF;
    border-radius: 4px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    -webkit-transition: all .2s linear 0s;
    transition: all .2s linear 0s;
    text-align: center;
    line-height: 2.5em;
    color: #97AFAD;
    cursor: pointer;
    margin-left: 0.3vw;
    outline:none;
    border:none;

}


@media (max-width: 590px) {


#middleSettings {

/*background:red;*/
flex-direction:column;


}

#middleSettings.-darkmode {

/*background:red;*/
flex-direction:column;

}

  .label{
    /*  background:red;*/
      width:60vw;
      height:7vw;
  }  
      #register{
       /* background:red;*/
        height: 85vw;
        width: 87vw;
    }  

}

@media (min-width: 590px) {

#middleSettings{

/*background:grey;*/
flex-direction:column;


}

#middleSettings.-darkmode {

/*background:grey;*/
flex-direction:column;

}

  .label{
     /* background:black;*/
      width:45vw;
      height:5.5vw;
  }  

    #register{
      /*  background:black;*/
        height: 65vw;
        width: 67vw;
    }  

}


@media (min-width: 768px) {


#middleSettings {

/*background:green;*/
flex-direction: column;

}

#middleSettings.-darkmode {

/*background:green;*/
flex-direction: column;

}

  .label{
      /*background:grey;*/
      width:31vw;
      height:3.5vw;
  }  

    #register{
    /*   background:grey;*/
       height: 44vw;
       width: 46vw;
    }  

}

@media (min-width: 992px) {

#middleSettings {

/*background:yellow;*/
flex-direction: row;

}

#middleSettings.-darkmode {

/*background:yellow;*/
flex-direction: row;

}

  .label{
     /* background:yellow;*/
      width:27vw;
      height:2.7vw;
  }  

    #register{
       /* background:yellow;*/
        height: 33vw;
        width: 35vw;
    }  

}

@media (min-width: 1200px) {

#middleSettings{

/*background:blue;*/
flex-direction: row;

}


#middleSettings.-darkmode {

/*background:blue;*/
flex-direction: row;

}

  .label{
     /* background:green;*/
      width:24vw;
      height:2.5vw;
  }  

      #register{
      /*  background:green;*/
        height: 30vw;
        width: 32vw;
        /*background: #F0FEFF;*/
    }  

}


@media (min-width: 1400px) {


#middleSettings{

/*background:black;*/
flex-direction: row;

}

#middleSettings.-darkmode{

/*background:black;*/
flex-direction: row;

}

  .label{
     /* background:blue;*/
      width:20vw;
      height:2vw;
  }  

  #register{
      /* background:blue;*/
       height: 25vw;
       width: 27vw;
    }  


}
